<div class="container">
    <h2 class="text-2xl font-semibold text-center py-2"> {{ productId() ? 'Edit Product' : 'Add Product' }}</h2>
    <h3 class="text-2xl font-semibold" *ngIf="store.successMessage$() as message">{{ message }}</h3>
    <form [formGroup]="ProductForm" (ngSubmit)="saveProduct()" class="w-full px-8 py-4">
        <div class="items-center mt-4">
            <label class="block font-medium text-gray-900 pr-3">Name: </label>
            <input class="peer pr-3 text-gray-900 border rounded " type="text" formControlName="name"/> 
        </div>
        <div class="items-center mt-4">
            <label class="block font-medium text-gray-900 pr-3">Description: </label>
             <textarea class="peer pr-3 text-gray-900 rounded border" formControlName="description">
            This is the default comment...  
        </textarea>
        </div>
        <div class="items-center mt-4">
            <label class="block font-medium text-gray-900 pr-3">Price: </label>
            <input class="peer pr-3 text-gray-900 rounded border" type="text" formControlName="price"/>
        </div>
        
        <div class="items-center mt-4">
            <label class="block font-medium text-gray-900 pr-3">Status: </label>
            <select type="text" formControlName="status" class="peer pr-3 text-gray-900 rounded border">
                <option [value]="true">Active</option> 
                <option [value]="false">DeActive</option> 
            </select>
        </div>
        <div class="items-center mt-4">
            <label class="block font-medium text-gray-900 pr-3"></label>
            <button class="bg-gray-800 rounded-lg text-white py-1 px-2" type="submit" [disabled]="ProductForm.invalid">{{ productId() ? 'Edit': 'Submit'}}</button>
        </div>
    </form>
    <div class="text-right">
        <a [routerLink]="['/products']">
            Back to list
        </a>
    </div>
</div>
