<div class="container mx-auto p-4 max-w-lg bg-white shadow-md rounded-lg">
    <h3 class="text-2xl text-orange-500 text-center mt-4 mb-4" *ngIf="store.successMessage$() as message">{{ message }}</h3>
    
    <h2 class="text-2xl font-bold mb-4"> {{ productId() ? 'Edit Product' : 'Add Product' }}</h2>
    <form [formGroup]="ProductForm" (ngSubmit)="saveProduct()" class="w-full px-8 py-4">
        <div class="mt-4">
            <label class="block text-gray-700 font-semibold mb-1">Name: </label>
            <input class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500" type="text" formControlName="name"/> 
        </div>
        <div class="mt-4">
            <label class="block text-gray-700 font-semibold mb-1">Description: </label>
             <textarea class="w-full p-2 border-gray-300 border rounded-lg focus:ring-2 focus:ring-blue-500" formControlName="description">
            This is the default comment...  
        </textarea>
        </div>
        <div class="mt-4">
            <label class="block text-grey-700 font-semibold mb-1">Price ($): </label>
            <input class="w-full border border-gray-300 rounded-lg text-grey-700 p-2 focus:ring-2 focus:ring-blue-500" type="text" formControlName="price"/>
        </div>
        
        <div class="mt-4">
            <label class="block text-gray-700 font-semibold mb-1">Status: </label>
            <select class="w-full border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500" type="text" formControlName="status">
                <option [value]="true">Active</option> 
                <option [value]="false">DeActive</option> 
            </select>
        </div>
        <div class="mt-4">
            <label class="block text-gray-700"></label>
            <button class="bg-sky-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-700" type="submit" [disabled]="ProductForm.invalid">{{ productId() ? 'Edit': 'Submit'}}</button>
        </div>
    </form>
    <div class="text-right">
        <a [routerLink]="['/products']" class="bg-sky-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-700">
            Back to list
        </a>
    </div>
</div>
