.DS_STORE

/dist/
/bazel-out
/integration/bazel/bazel-*
*.log
node_modules/
modules/ssr-benchmarks/node_modules/

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# Ignore cache created with the Angular CLI.
.angular/

# Ignore .history for the xyz.local-history VSCode extension
.history