<header class="sticky top-0 z-50 bg-white text-gray-900 shadow-md rounded-md">
    <div class="container mx-auto flex items-center p-4">
      <h1 class="text-lg font-bold flex items-center space-x-2 mr-8">
        <a routerLink="/home" class="text-black flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 9h18l-1 11H4L3 9z"></path>
            <path d="M16 9V5a4 4 0 0 0-8 0v4"></path>
          </svg>
          <span class="ml-2">Shop</span>
        </a>
      </h1>
      <nav>
        <ul class="flex items-start space-x-4 text-left">
          <li><a routerLink="/home"  class="text-black">Home</a></li>
          <li><a routerLink="/products" routerLinkActive="active" class="text-black">All Products</a></li>
        </ul>
      </nav>
    </div>
  </header>